
body {
    /* margin: 0;
    padding: 0; */
    background: url('/web/lib/aquarelle.jpeg') 
    no-repeat center center fixed;
    background-size: cover;
}

Canvas {
    border: 2px solid gray; /* Borda preta */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra */
    background-color: #fff; /* Fundo branco */
}

iframe {
    width: 50%;
    height: 250px;
    border: 2px solid #000;
}

button {
    padding: 5px 10px;
    font-size: 10px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

h2{
    color: white;
}

h1 {
    text-align: center;
    color: white;

}

p{
    color: white;
}

ul{
    color: white;
}

ol{
    color: white;
}

a{
    color:mediumslateblue
}